Package: com.burritoz.cartella
Name: Cartella
Depends: mobilesubstrate
Conflicts:
Version: 0.7~EOL
Architecture: iphoneos-arm
Description: Cartella, a (mostly) dynamic folder tweak! This tweak will allow you to change up the look of your folders to fit any setup! Bolders for iOS 13 and WAY more!
Maintainer: burrit0z
Author: burrit0z
Section: Tweaks
