<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Folder Columns</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<real>4</real>
			<key>defaults</key>
			<string>com.burritoz.cartellaprefs</string>
			<key>key</key>
			<string>folderColumns</string>
			<key>validValues</key>
			<array>
				<real>2</real>
				<real>3</real>
				<real>4</real>
				<real>5</real>
				<real>6</real>
				<real>7</real>
				<real>8</real>
			</array>
			<key>validTitles</key>
			<array>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
				<string>7</string>
				<string>8</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Folder Rows</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<real>4</real>
			<key>defaults</key>
			<string>com.burritoz.cartellaprefs</string>
			<key>key</key>
			<string>folderRows</string>
			<key>validValues</key>
			<array>
				<real>2</real>
				<real>3</real>
				<real>4</real>
				<real>5</real>
				<real>6</real>
				<real>7</real>
				<real>8</real>
			</array>
			<key>validTitles</key>
			<array>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
				<string>7</string>
				<string>8</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Folder Icon Columns</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<real>3</real>
			<key>defaults</key>
			<string>com.burritoz.cartellaprefs</string>
			<key>key</key>
			<string>folderIconColumns</string>
			<key>validValues</key>
			<array>
				<real>2</real>
				<real>3</real>
				<real>4</real>
				<real>5</real>
				<real>6</real>
				<real>7</real>
				<real>8</real>
			</array>
			<key>validTitles</key>
			<array>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
				<string>7</string>
				<string>8</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Folder Icon Rows</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<real>3</real>
			<key>defaults</key>
			<string>com.burritoz.cartellaprefs</string>
			<key>key</key>
			<string>folderIconRows</string>
			<key>validValues</key>
			<array>
				<real>2</real>
				<real>3</real>
				<real>4</real>
				<real>5</real>
				<real>6</real>
				<real>7</real>
				<real>8</real>
			</array>
			<key>validTitles</key>
			<array>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
				<string>7</string>
				<string>8</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Full Screen Folder Grid Options:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Vertical Pinch Factor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<string>0</string>
			<key>defaults</key>
			<string>com.burritoz.cartellaprefs</string>
			<key>key</key>
			<string>topOffset</string>
			<key>min</key>
			<real>-100</real>
			<key>max</key>
			<real>200</real>
			<key>isSegmented</key>
			<false/>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.burritoz.cartellaprefs</string>
			<key>key</key>
			<string>titleAffectedTop</string>
			<key>label</key>
			<string>Vertically Adjust Title Based On Pinch</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Side Pinch Factor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<string>0</string>
			<key>defaults</key>
			<string>com.burritoz.cartellaprefs</string>
			<key>key</key>
			<string>sideOffset</string>
			<key>min</key>
			<real>-100</real>
			<key>max</key>
			<real>200</real>
			<key>isSegmented</key>
			<false/>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Additional Title Movement/Offset</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<string>0</string>
			<key>defaults</key>
			<string>com.burritoz.cartellaprefs</string>
			<key>key</key>
			<string>additionalTitleMovement</string>
			<key>min</key>
			<real>-200</real>
			<key>max</key>
			<real>200</real>
			<key>isSegmented</key>
			<false/>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Move Page Dots (downwards):</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<string>0</string>
			<key>defaults</key>
			<string>com.burritoz.cartellaprefs</string>
			<key>key</key>
			<string>dotMovement</string>
			<key>min</key>
			<real>-200</real>
			<key>max</key>
			<real>200</real>
			<key>isSegmented</key>
			<false/>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string> </string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>&quot;Try not. Do... or do not. There is no try.&quot;</string>
		</dict>
	</array>
	<key>title</key>
	<string>Grid Configuration</string>
</dict>
</plist>
