<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Source Code</string>
			<key>subtitle</key>
			<string>See how Cartella works!</string>
			<key>url</key>
			<string>https://github.com/Burrit0z/Cartella</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.burritoz.cartellaprefs</string>
			<key>key</key>
			<string>tweakEnabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.burritoz.cartellaprefs</string>
			<key>key</key>
			<string>isNotchedDevice</string>
			<key>label</key>
			<string>This device is Notched</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>General</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.burritoz.cartellaprefs</string>
			<key>key</key>
			<string>hideIconBackground</string>
			<key>label</key>
			<string>Hide Folder Icon Blur</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.burritoz.cartellaprefs</string>
			<key>key</key>
			<string>hideFolderBackground</string>
			<key>label</key>
			<string>Hide Folder Background</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Options:</string>
		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>Grid Configuration</string>
 			<key>detail</key>
 			<string>cartellaSubPrefsRootListController</string>
			<key>subPage</key>
			<string>Grid</string>
 		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Visual Customization</string>
			<key>detail</key>
			<string>cartellaSubPrefsRootListController</string>
			<key>subPage</key>
			<string>Customize</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Color Customization</string>
			<key>detail</key>
			<string>cartellaSubPrefsRootListController</string>
			<key>subPage</key>
			<string>Colors</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string> </string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>apply:</string>
			<key>label</key>
			<string>Apply Dynamically</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>&quot;Try not. Do... or do not. There is no try.&quot;</string>
		</dict>
	</array>
	<key>title</key>
	<string>Cartella, made with 💙</string>
</dict>
</plist>
